<div class="row msg-row-<%= message.user_id %>">
    <div class="col-auto ps-2 pe-2 pb-0 pt-0">
        <%= display_massage_avatar message %>
    </div>
    <div class="col-auto ps-0 pe-0">
        <div class="card mb-2 msg-<%= message.user_id %> msg-style shadow">
            <div class="card-body ps-2 pe-2 pb-0 pt-2 lh-1">
                <p class="fw-semibold msg-username-font-size mb-1"><%= message.name %></p>
                <p class="mb-1 msg-font-size"><%= message.body %></p>
                <p class="text-end msg-time-font-size mb-1"><%= message.created_at.to_time.strftime("%H:%M") %></p>
            </div>
        </div>
    </div>
</div>

