<div class="row justify-content-md-center">
  <div class="col-xxl-4 col-xl-6 col-md-6 col">
    <h3 class="fw-normal mb-1">Изменение профиля</h3>
    <div class="mb-2">
      <%= link_to "Вернуться к профилю", profile_path(current_user.id), class: "fw-light", style: "text-decoration: none;" %>
    </div>
    <h4 class="fw-light">Изменить аватар</h4>
    <div class="row mb-3">
      <div class="col-auto">
        <% if current_user.avatar.present? %>
          <%= image_tag(current_user.avatar.variant(resize_to_fill: [120, 120]), class: "user-avarat-style") %>
        <% else %>
          <%= link_to image_tag("default_user_avatar.png", size: "120x120", class: "user-avarat-style"), root_path %>
        <% end %>
      </div>
      <div class="col flex-column align-self-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.file_field :avatar, class: "form-control form-control-sm mb-3" %>
          <div class="d-grid grap-2">
            <%= f.button "Загрузить", type: "submit", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
    <h4 class="fw-light">Основная информация</h4>
    <div class="mb-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %> 
        <label class="form-label mb-1">Логин</label>
          <%= f.text_field :username, class: "form-control mb-2" %>
        <label class="form-label mb-1">Ваш пол</label>
          <%= f.select :gender, options_for_select(["Мужской", "Женский"], selected: current_user.gender), {}, {class: "form-select mb-2"} %>
        <label class="form-label mb-1">День рождения</label>
          <%= f.text_field :birthday, type: "date", class: "form-control mb-2" %>
        <label class="form-label mb-1">Страна</label>
          <%= f.text_field :country, class: "form-control mb-2" %>
        <label class="form-label mb-1">Город</label>
          <%= f.text_field :city, class: "form-control mb-3" %>
        <div class="d-grid grap-2">
          <%= f.button "Изменить", type: "submit", class: "btn btn-primary mb-3" %>
        </div>
      <% end %>
      <h4 class="fw-light">Изменение пароля</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <label class="form-label mb-1">Новый пароль</label>
          <%= f.password_field :password, class: "form-control mb-0" %>
          <div class="form-text mb-2">Пароль должен состоять минимум из <%= @minimum_password_length %> символов</div>
        <label class="form-label mb-1">Повторите пароль</label>
          <%= f.password_field :password_confirmation, class: "form-control mb-2" %>
        <label class="form-label mb-1">Старый пароль</label>
          <%= f.password_field :current_password, class: "form-control mb-3" %>
        <div class="d-grid grap-2">
          <%= f.button "Изменить пароль", type: "submit", class: "btn btn-primary mb-3" %>
        </div>
      <% end %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <h4 class="fw-light">Удаление аккаунта</h4>
        <div class="d-grid grap-2">
          <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#deleteUserAccount" aria-expanded="false">Удалить аккаунт</button>
        </div>
        <div class="collapse" id="deleteUserAccount">
          <p class="fw-light">После удаления аккаунта восстановить его будет невозможно. Будьте осторожны.</p>
          <div class="d-grid grap-2">
            <%= button_to "Удалить аккаунт", registration_path(resource_name), method: :delete, class: "btn btn-outline-danger", form: {data: {turbo_confirm: 'Вы действительно хотите удалить аккаунт?'}} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
