<%= turbo_stream_from @room %>
<div class="row justify-content-md-center">
    <div class="col-xxl-4 col-xl-6 col-md-6 col">
        <div class="card height-90">
            <div class="card-header text-bg-light">
                123
            </div>
            <div class="card-body overflow-auto" id="scrollbar">
                <% add_additional_info_to_messages @messages %>
                <%= turbo_frame_tag :messages do %>
                    <%= render @messages %>
                <% end %>
            </div>
            <div class="card-footer">
                <%= form_for([@room, @room.messages.build]) do |f| %>
                    <div class="row">
                        <div class="col pe-0">
                            <%= f.text_field :body, class: "form-control form-control-sm" %>
                        </div>
                        <div class="col-auto">
                            <%= f.button "\u2B9D", type: "submit", class: "btn btn-primary btn-sm rounded-circle" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
