<div class="row">
    <div class="col-3 bg-dark text-white">
        <h4>Users</h4>
        <% @users.each do |user| %>
            <p><%= user.email %><%= button_to '+', rooms_url(:user_id => user.id), method: :post %></p>
        <% end %>
        <h4>Rooms</h4>
        <% @rooms.each do |room| %>
            <p><%= link_to room.id, room_path(room.id) %></p>
        <% end %>
    </div>
    <div class="col-9">
        <p><%= @room.id %></p>
        <% @messages.each do |message| %>
            <p><%= message.created_at %></p>
            <p><%= message.body %></p>
        <% end %>
        <div class="row">
            <div class="row">
                <%= form_for([@room, @room.messages.build]) do |f| %>
                    <%= f.text_area :body %>
                    <%= f.button 'Send', type: "submit", return: false %>
                <% end %>
            </div>
        </div>
    </div>

</div>